/node_modules

/.idea

/build

/deps

/dist

/feffery_markdown_components.egg-info

/inst

/man

/.git

/_*

/R

/.vscode

__pycache__

index.html

package-lock.json

/.build_cache

/jl

FefferyMarkdownComponents.jl

.Rbuildignore

/assets

/feffery_markdown_components/*.map