.theme-pie {
  padding: 20px 30px 160px;
  margin: 0 auto;
}

.theme-pie p {
  word-spacing: 0.05rem;
  text-align: justify;
}

.theme-pie ol li {
  margin-left: -4px;
}

.theme-pie ol li p {
  margin-left: 4px;
}

.theme-pie ul {
  line-height: 2rem;
}

.theme-pie > ul:first-child,
.theme-pie > ol:first-child {
  margin-top: 30px;
}

.theme-pie a {
  padding: 0 2px;
  font-weight: 500;
  color: #f22f27;
  text-decoration: none;
  border-bottom: 1px solid #f22f27;
}

.theme-pie a:empty {
  font-size: 0;
  border: none;
}

.theme-pie a:hover {
  color: #cc1616;
  border-bottom: 2px solid #f22f27;
}

.theme-pie h1,
.theme-pie h2,
.theme-pie h3,
.theme-pie h4,
.theme-pie h5,
.theme-pie h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

.theme-pie h1:hover a.anchor,
.theme-pie h2:hover a.anchor,
.theme-pie h3:hover a.anchor,
.theme-pie h4:hover a.anchor,
.theme-pie h5:hover a.anchor,
.theme-pie h6:hover a.anchor {
  text-decoration: none;
}

.theme-pie h1 tt,
.theme-pie h1 code,
.theme-pie h2 tt,
.theme-pie h2 code,
.theme-pie h3 tt,
.theme-pie h3 code,
.theme-pie h4 tt,
.theme-pie h4 code,
.theme-pie h5 tt,
.theme-pie h5 code,
.theme-pie h6 tt,
.theme-pie h6 code {
  font-size: inherit !important;
}

.theme-pie h2 a,
.theme-pie h3 a {
  color: #434343;
}

.theme-pie h1 {
  padding-bottom: 0.3em;
  margin: 2.4em auto 1.2em;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

.theme-pie h1::after {
  display: block;
  width: 100px;
  height: 2px;
  margin: 0.2em auto 0;
  content: "";
  border-bottom: 2px dashed #f22f27;
}

.theme-pie h2 {
  padding-left: 6px;
  margin: 2em auto 1.4em;
  font-size: 1.6em;
  line-height: 1.4;
  border-left: 6px solid #f22f27;
}

.theme-pie h3 {
  margin: 1.6em auto 1.2em;
  font-size: 1.35em;
  line-height: 1.43;
}

.theme-pie h3::before {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  margin-bottom: 0.18em;
  line-height: 1.43;
  vertical-align: middle;
  content: "";
  background-color: #ff5d52;
  border-radius: 50%;
}

.theme-pie > h3.md-focus::before,
.theme-pie > h4.md-focus::before {
  width: auto;
  height: auto;
  color: #ffffff;
  background-color: #ff5d52;
}

.theme-pie h4 {
  margin-top: 1.4em;
  font-size: 1.2em;
}

.theme-pie h4::before {
  display: inline-block;
  width: 6px;
  height: 2px;
  margin-right: 8px;
  margin-bottom: 0.18em;
  vertical-align: middle;
  content: "";
  background-color: #ff887a;
}

.theme-pie h5 {
  font-size: 1em;
}

.theme-pie h6 {
  font-size: 1em;
  color: #8c8c8c;
}

.theme-pie p,
.theme-pie blockquote,
.theme-pie ul,
.theme-pie ol,
.theme-pie dl,
.theme-pie table {
  margin: 0.8em 0;
}

.theme-pie li > ol,
.theme-pie li > ul {
  margin: 0;
}

.theme-pie hr {
  box-sizing: content-box;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 46px auto 64px;
  overflow: hidden;
  background-color: #ff887a;
  border: 0;
}

.theme-pie a:first-child h1,
.theme-pie a:first-child h2,
.theme-pie a:first-child h3,
.theme-pie a:first-child h4,
.theme-pie a:first-child h5,
.theme-pie a:first-child h6 {
  padding-top: 0;
  margin-top: 0;
}

.theme-pie h1 p,
.theme-pie h2 p,
.theme-pie h3 p,
.theme-pie h4 p,
.theme-pie h5 p,
.theme-pie h6 p {
  margin-top: 0;
}

.theme-pie li p.first {
  display: inline-block;
}

.theme-pie ul,
.theme-pie ol {
  padding-left: 30px;
}

.theme-pie ul:first-child,
.theme-pie ol:first-child {
  margin-top: 0;
}

.theme-pie ul:last-child,
.theme-pie ol:last-child {
  margin-bottom: 0;
}

.theme-pie blockquote {
  position: relative;
  padding: 24px 16px 12px;
  margin: 24px 0 36px;
  font-size: 1em;
  font-style: normal;
  line-height: 1.6;
  color: #8c8c8c;
  text-indent: 0;
  border: none;
  border-left: 2px solid #f22f27;
}

.theme-pie blockquote blockquote {
  padding-right: 0;
}

.theme-pie blockquote a {
  color: #ff887a;
}

.theme-pie blockquote::before {
  position: absolute;
  top: 0;
  left: 12px;
  font-family: Arial, serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  color: #f22f27;
  content: "“";
}

.theme-pie table {
  padding: 0;
  margin: 36px auto;
  word-break: initial;
}

.theme-pie table tr {
  padding: 0;
  margin: 0;
  border-top: 1px solid #dfe2e5;
}

.theme-pie table tr:nth-child(2n),
thead {
  background-color: #f5f5f5;
}

.theme-pie table tr th {
  padding: 6px 13px;
  margin: 0;
  font-weight: bold;
  text-align: left;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
}

.theme-pie table tr td {
  padding: 6px 13px;
  margin: 0;
  text-align: left;
  border: 1px solid #dfe2e5;
}

.theme-pie table tr th:first-child,
.theme-pie table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

.theme-pie table thead th {
  text-align: center;
  background-color: #f2f2f2;
}

.theme-pie strong {
  padding: 0 1px;
}

.theme-pie em {
  padding: 0 5px 0 2px;
}

.theme-pie code {
  vertical-align: 0.5px;
}

.theme-pie mark {
  padding: 2px 4px;
  margin: 0 2px;
  font-weight: 500;
  color: #222222;
  background-color: #ff887a;
  border-radius: 2px;
  border-radius: 4px;
}

.theme-pie .contains-task-list {
  padding-left: 2rem;
  list-style-type: none;
}

.theme-pie .task-list-item > input {
  top: -0.2rem;
  margin-left: -1.6rem;
  margin-top: 0.2rem;
  -webkit-appearance: initial;
  transform: translateY(0.48em);
  position: relative;
}

.theme-pie .task-list-item > input:before {
  border: 1px solid #f22f27;
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  content: " ";
  display: block;
}

.theme-pie .task-list-item > input:checked:before,
.theme-pie .task-list-item > input[checked]:before {
  background: #f22f27;
  border-width: 1px;
}

.theme-pie .task-list-item > input:checked:after,
.theme-pie .task-list-item > input[checked]:after {
  opacity: 1;
}

.theme-pie .task-list-item > input:after {
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 0.25rem;
  left: 0.19rem;
  width: 0.6rem;
  height: 0.375rem;
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  content: " ";
  opacity: 0;
}

.theme-pie code:not([class^="language-"]) {
  color: #ff7266;
  background: #fff3f0;
  margin: 0 2px;
  padding: 0px 4px;
  display: inline;
  border-radius: 6px;
}

.theme-pie li {
  margin: 0.75rem 0;
  box-sizing: content-box;
}

.theme-blubook *::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  outline: none;
  border-radius: 6px;
}

.theme-blubook *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*火狐浏览器*/
.theme-blubook * {
  scrollbar-width: thin;
}
